/*===============================
 **Fonts:
 @import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&family=Montserrat:wght@400;500;600;700&family=Open+Sans&family=Raleway&family=Roboto&display=swap');
 font-family: 'Lato', sans-serif;
 font-family: 'Lora', serif;
 font-family: 'Montserrat', sans-serif;
 font-family: 'Open Sans', sans-serif;
 font-family: 'Raleway', sans-serif;
 font-family: 'Roboto', sans-serif;
=============================== */

/*=========================
 **Offline Fonts:
 src: '../fonts/..'
======================== */
/*@font-face {*/
/*    font-family: 'MontserratLight';*/
/*    font-style: normal;*/
/*    font-weight: 300;*/
/*    src: url('../fonts/Montserrat/Montserrat-Light.ttf');*/
/*    src: local('Montserrat Light'), local('MontserratLight'), url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&family=Montserrat:wght@400;500;600;700&family=Open+Sans&family=Raleway&family=Roboto&display=swap');
