/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*Forms*/
.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    font-weight: 500;
}

.form-control {
    width: 100%;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    padding: 0.375rem 0.75rem;
    min-height: 40px;
    caret-color: #198754;
    margin-top: 0.75rem;
    -webkit-box-shadow: 0 6px 20px rgba(0,0,0,.15);
    box-shadow: 0 6px 20px rgba(0,0,0,.15);
}
